* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Links*/
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #7e7e36;
}

a:hover,
a:active {
    color: #FFF;
    cursor: pointer;
}

/*Navigation with flexbox mobile first*/

header {
    background: #7e7e36;
    width: 100%;
    padding: 0 20px;
}

.article-header{
    background: white;
    margin-bottom: 5%;
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
}

#logo img {
    width: 100%;
}

#logo,
#main-nav a {
    color: white;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}

#main-nav a:hover {
    color: white;
}

.active {
    color: white;
}

.hidden {
    display: none;
}





/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

    /*HEADER*/
    header {
        flex-direction: row;
        align-items: center;
    }

}

/*Main content*/
/*Main content*/
/*Main content*/
/*Main content*/
/*Main content*/
.maincontent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 8%;
    padding-top: 2%;
    padding-right: 8%;
}

.content {
    width: 70%;
    float: left;
}

.topcontent,
.bottomcontent {
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2px;
    color: #2d2d2d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artikel-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.post-info {
    font-style: italic;
    color: lightgray;
    font-size: 90%;
}

.article-image {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Sidebar*/
/*Sidebar*/
/*Sidebar*/
/*Sidebar*/
/*Sidebar*/
/*Sidebar*/
.top-sidebar {
    width: 21%;
    float: left;
    background-color: #7e7e36;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 3%;
    margin: 0 0 2% 3%;
}

.top-sidebar1 {
    width: 21%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 3%;
    margin: 2% 0 2% 3%;
    background: #2d2d2d;
    background-size: cover;
    height: 400px;
}

.top-sidebar > article {
    color: white;
}

.middle-sidebar {
    background: #2d2d2d;
    background-size: cover;
}

.middle-sidebar > article {
    color: white;
}

.middle-sidebar,
.bottom-sidebar {
    width: 21%;
    float: left;
    background-color: #7e7e36;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 3%;
    margin: 0 0 2% 3%;
}

.mainfooter {
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #2d2d2d;
    margin: 2% 0;
}

.mainfooter p {
    width: 92%;
    margin: 10px auto;
    color: #FFF;
}



@media only screen and (min-width: 150px) and (max-width: 600px) {
    .body {
        width: 100%;
        font-size: 95%;
    }

    .mainheader img {
        width: 100%;
    }

    .mainheader nav {
        height: 160px;
    }

    .mainheader nav ul {
        padding-left: 0;
    }

    .mainheader nav ul li {
        width: 100%;
        text-align: center;
    }

    .mainheader nav a:link,
    .mainheader nav a:visited {
        padding: 10px 25px;
        height: 20px;
        display: block;
    }

    .content {
        width: 100%;
        float: left;
        margin-top: 2%;
    }

    .post-info {
        display: none;
    }

    .topcontent,
    .bottomcontent {
        margin: 4% 0;
    }

    .top-sidebar,
    .middle-sidebar,
    .bottom-sidebar {
        width: 100%;
        padding: 2% 3%;
        margin: 2% 0 2% 0%;
    }

    #box-container {
        flex-direction: column;
        align-items: center;
    }

    .map-container a {
        margin: 0;
    }

    .map-container {
        padding: 0;
    }

    .top-sidebar-guide, .middle-sidebar-guide, .bottom-sidebar-guide {
        width: 94%;
        padding: 2% 3%;
        margin: 2% 0 2% 0%;
    }

    #inferno {
        width: 100%;
        height: auto;
    }

    #cache {
        width: 100%;
        height: auto;
    }

    .content5 {
        width: 100%;
    }
    
    .desc{
        text-align: center;
        font-style:italic;
        font-size: 110%;
        color: #2d2d2d;
    }
    
    .forside-article{
        text-align: center;
    }
    
     /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }
    
}

@media all and (min-width: 600px) {

    /*HEADER NAV*/
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /*remove this if you do not want the column layout whit logo above menu for medium size screens*/
    }

    #logo-burger {
        margin: 0;

    }

    #logo {
        margin-top: .3em;
    }

    #main-nav {
        justify-content: space-between;
        width: 100%;
        margin: 0;
    }

    #main-nav a {
        margin: 0 .5em;
    }

    .hidden {
        display: none;
    }

    label {
        display: none;
    }
    
     .body {
        width: 100%;
        font-size: 95%;
    }



}